# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.IMG
*.img
*build*
*.BIN
*.ELF
*.bin
*.elf
*.map
*.sym
*.diff
*.swp
bin/hello
bin/shell
a.*
snapshot.txt
bochsout.txt
*.lock
*.DS_Store
.vscode/settings.json
*.iso
**/serial_monitor/serial_monitor
